* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Roboto-Bold' serif;
   font-weight: bold;
   overflow-x: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;   
}


.swiper-pagination-bullet {
	background: #016B43  repeat scroll 0 0;
	border: 1px solid #016B43;
	border-radius: 10px;
	display: inline-block;
	height: 10px;
	opacity: 1;
	width: 26px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.swiper-pagination-bullet-active {
    background: none repeat scroll 0 0;
    border: 1px solid #016B43;
    height: 12px;
    opacity: 1;
    width: 12px;
}
