.header {
    background: url(../img/bg-style.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    &__btn {
        width: 200px;
        font-weight: bold;
        border-radius: 29px;
        padding: 10px 0;
        background: #41B834;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #41B834;
            border-color: #41B834;
        }
    }
    &-block {
        &__title {
            font-size: 60px;
            margin-top: 140px;
            margin-bottom: 47px;
        }
        &__text {
            width: 657px;
            font-size: 20px;
            margin-bottom: 65px;
        }
        &__img {
            position: absolute;
            top: 25%;
            right: 0;
        }
    }
}