.header {
    background: url(../img/bg-style.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    &-block {
        display: flex;
        align-items: center;
        &__title {
            font-size: 60px;
            margin-top: 177px;
            margin-bottom: 47px;
        }
        &__text {
            width: 657px;
            font-size: 20px;
            margin-bottom: 65px;
        }
    }
}