.header {
    background: url(../img/bg-style.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    @media (max-width: 1200px) {
        height: auto;
        padding-bottom: 100px;
    }
    @media (max-width: 768px) {
        padding-bottom: 0;
    }
    &__btn {
        width: 200px;
        font-weight: bold;
        font-family: 'Montserrat';
        border-radius: 29px;
        padding: 15px 0;
        background: #41B834;
        color: #fff;
        &--video {
            background-color: #fff;
            color: #41B834;
            border-color: #41B834;
            @media (max-width: 425px) {
                margin-top: 15px;
            }
        }
        &:hover {
            background-color: #fff;
            color: #41B834;
            border-color: #41B834;
        }
    }
    &-block {
        &__title {
            font-weight: bold;
            font-size: 60px;
            margin-top: 140px;
            margin-bottom: 47px;
            @media (max-width: 1024px) {
                font-size: 50px;
                text-align: center;
                margin-top: 50px;
            }
            @media (max-width: 768px) {
                font-size: 35px;
            }
            @media (max-width: 568px) {
                text-align: center;
                margin-top: 47px;
            }
            @media (max-width: 425px) {
                font-size: 27px;
            }
        }
        &__text {
            font-size: 20px;
            margin-bottom: 65px;
            font-family: 'Montserrat';
            font-weight: 500;
            color: #7E7E7E;
            line-height: 2;
            @media (max-width: 1024px) {
                font-size: 16px;
                text-align: center;
            }
            @media (max-width: 768px) {
                font-size: 14px;
            }
            @media (max-width: 568px) {
                text-align: center;
                width: auto;
            }
            @media (max-width: 425px) {
                font-size: 10px;
            }
        }
        &__btns {
            @media (max-width: 1024px) {
                display: flex;
                justify-content: center;
            }
            @media (max-width: 425px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        &__img {
            position: absolute;
            top: 25%;
            right: 0;
            @media (max-width: 1200px) {
                width: 50%;
                top: 20%;
            }
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }
}