.navbar {
    padding-top: 50px;
    &-nav {
        font-family: 'Montserrat';
        color: #4B3B36;
    }
    &-block {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: #000;
        margin-right: 35px;
    }
    &__btn {
        font-weight: bold;
        border-radius: 29px;
        padding: 10px 18px;
        @media (max-width: 768px) {
            width: 20%;
            margin-top: 15px;
        }
        @media (max-width: 568px) {
            width: 25%;
        }
    }
 
}