.product {
    margin-bottom: 50px;
    &-title {
        text-align: center;
        color: #333333;
        font-weight: bold;
        font-size: 42px;
    }
    &-text {
        text-align: center;
        color: #7E7E7E;
        font-size: 18px;
        font-family: 'Montserrat';
        margin-top: 20px;
        @media (max-width: 568px) {
            font-size: 16px;
        }

    }
    &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 80px;
        padding: 0 30px;
    }
    &-item {
        width: 340px;
        box-shadow: 0px 2px 25px rgba(0,60,187,0.2);
        padding-bottom: 20px;
        margin-top: 60px;
        border-radius: 16px;
        @media (max-width: 1200px) {
            width: 30%;
        }   
        @media (max-width: 768px) {
            width: 45%;
            margin: 15px 5px;
        }
        @media (max-width: 568px) {
            width: 100%;
        }
        &__products {
            height: 470px;
            margin: 25px 10px;
            flex-basis: 31%;
            img {
                max-width: 100%;
            }
        }
        &__img  {
          background-color: #F1F1F1;  
          text-align: center;
          padding: 50px 55px; 
          display: flex;
          justify-content: center;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          img {
            @media (max-width: 568px) {
                width: 150px;
            }
          }
     
        }
        &__text {
            text-align: center;
            margin-top: 25px;
            font-size: 24px;
            color: #313131;
            @media (max-width: 1200px) {
                font-size: 20px;
            }
            @media (max-width: 568px) {
                font-size: 16px;
            }
        }
        &__btn {
            width: 170px;
            display: block;
            margin: 0 auto;
            background-color: #41B834;
            border-radius: 8px;
            color: #fff;
            padding: 10px 15px;
            font-family: 'Montserrat';
            font-weight: 500;
            &:hover {
                color: #fff;
            }
        }
    }
}