.static {
    margin: 100px 0;
    &-block {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 8px 35px 8px rgba(0,60,187,0.2);
        padding: 20px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__item {
            display: flex;
            align-items: center;
        }
    }
    &__res {
        margin-left: 36px;
    }
    &-result {
        font-size: 36px;
        font-weight: bold;
    }
}