.about {
    &-title {
        text-align: center;
        margin: 170px 0 130px 0;
        font-size: 60px;
        font-weight: bold;
      }
    &-subtitle {
        text-align: center;
        margin-bottom: 55px;
        font-weight: bold;
        font-size: 20px;
    }
    &-text {
        text-align: center;
        font-size: 19px;
    }
}

